/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
body{background-color:white;}

.siteName a,h1 ,h2, h3 {font-family: 'Orbitron', sans-serif;}

p,ul,li,a{font-family: 'Roboto', sans-serif;}

/* Main tag general styling*/
section{margin: 1rem 0 1rem 0;}

/* Header styling */
header{
  display: flex; 
  flex-direction: row; 
  justify-content:space-between; 
  margin-bottom:.5rem;
}

.siteName a{ 
  font-size: 2rem; 
  text-decoration:none; 
  font-weight:bold;
  color:#001514;
}

div#tools a{color:#001514; text-decoration:none; font-size: 1.1rem; font-family: 'Roboto', sans-serif;}

div#tools a:hover{text-decoration: underline;}

/* navigation bar styling*/
nav{
  background-color:#001514; 
  padding: 1rem;
  /* margin-bottom: 2rem; */
}

nav ul{ 
  display:flex; 
  flex-direction:row;  
  justify-content:space-evenly;
  /* color :white; */
  list-style-type: none;
  padding: 0;
  gap: 1rem;
}

nav ul li a{
  font-weight: 500;
  font-size: .9rem;
  color :white;
  text-decoration: none;
}

nav ul li a:hover{ text-decoration: underline;}

/* Introduction section*/

section.introduction{position:relative;}

section.introduction img.intro-car{
  display: block; 
  margin: auto; 
  width: 90%;
  min-width: 12rem;
  /* max-width: 20rem; */
  text-align: center;
  /* position: relative; */
}

div.group img{
  display: block; 
  margin: auto;
  width: 70%;
  min-width: 5rem;
  text-align: center; 
}

div.group{
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: rgba(86, 142, 163, 0.8);
  color: white;
  width: 10rem;
  gap:.25rem;
  top:4.2rem;
  position: absolute;
}

div.group h2{font-size:1rem;}

div.group ul{
  display: grid;
  list-style: none;
  padding: 0;
  gap:.5rem;
}

div.group img {padding: 0; margin: 0;}

/* Reviews section*/
section.reviews ul{
  margin-top:1.5rem;
  display:flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-left: 10px;
  list-style-type: disc;
  padding-left: 20px;
}

/*Delorean upgrades styling*/
.square-grid{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
  text-align: center;
  margin-top:1.5rem;
  /* width: 70%;
  margin: auto; */
}

.square-grid img{
  /* display: block;
  margin: auto;
  background-color: aqua;
  padding:25px 40px 25px 40px;
  width: 90%;
  height: 25vw;
  min-width: 100px; */
  
  display: block;
  margin: auto;
  justify-content: center;
  /* max-width:90%; */
  /* max-height: 150px;
  max-width: 150px; */
  /* max-width:90%;
  max-width: 20rem;
  min-width: 90px;
  height:20rem;
  max-height: 145px; */
  width: 80%;
  height: 30vw;
  max-width:160px;
  max-height:120px;
  background-color: #568EA3;
  padding:25px 40px 25px 40px;
}

/* Classification Pages Stylying */

.classification h1{text-align:center;}

ul#inv-display{ 
  display:grid; 
  /* align-items: center; */
  /* align-content: center;*/
  justify-content: center; 
  padding:0;
  gap: 1rem;
  margin: 1rem 0 1rem 0;
  list-style-type: none;
  padding: 0;
  color:#001514;

}

ul#inv-display li { 
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border:1px solid #5e9cb3;
  background-color: #568ea3;
  padding: 1rem;
  text-align: center;
}

ul#inv-display li a{
  text-decoration: none; 
  color:#001514;
  cursor: pointer; 
  list-style-type: none;
}

ul#inv-display a:hover{text-decoration:underline;}

ul#inv-display img{display: block;margin: auto; border-radius: 10px;}

div.namePrice{margin: 1rem 0 0rem 0;}

hr{display: none;}

/* Car details section Styling*/
.car-details h1, h2{text-align:center;}

/* .car-details h2{margin-top:1rem;} */

 div#inv-details {display:grid; padding:1rem; gap:1rem;}

 div#inv-details p{padding-left: 2rem; padding-right: 1rem; font-size: 1.2rem;}

 div#inv-details img{
  display: block;
  margin: auto;
  max-width: 90%;
  border-radius: 10px;
 }

 span.subtitles{ font-weight: bold; overflow-wrap: break-word;}

 span.subtitles:after{
  content: "\a";
  white-space: pre;
}

/* Login Form Styling */
.forms h1{margin-bottom: 1rem;}

ul.notice{
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  margin:1rem;
  color:red;
  list-style-type: none;
  padding:0;
}

form.login{
  display: flex;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  padding:1rem;
  margin: auto;
  font-size: 1.2rem;
  width:80%;
  gap: .5rem;
  flex-direction: column;
  /* color: white; */
  background-color:#568EA3;
  /* background-color: #001514; */
  border: #001514 2px solid;
  border-radius: 8px;
}

form.login input {
  padding: .5rem;
  border: #001514 1px solid;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

.login-btn{
  text-align: center;
  margin: auto;
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 6rem;
  font-size: 1rem;
  font-weight: 600;
  padding: .8rem;
  color: white;
  border: #001514 1px solid;
  background-color: #001514;
  border-radius: 8px;
  cursor: pointer;
}

.login-btn:hover{background-color: gray;}

form.login span {
  font-size: 1rem;
  text-align: center;
}
form.login span a{font-family: 'Orbitron', sans-serif; color: #001514;}

form.login span a:hover{color: white;}

/* Register Form Styling */
form.register{
  display: flex;
  font-family: 'Orbitron', sans-serif;
  flex-direction: column;
  border: #001514 4px solid;
  border-radius: 8px;
  font-weight: 700;
  padding:1rem;
  margin: auto;
  font-size: 1.2rem;
  width:80%;
  gap: 1rem;
}

form.register input {
  padding: .5rem;
  border: #001514 1px solid;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

.register-btn{
  text-align: center;
  /* margin: auto; */
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-weight: 600;
  width: 6rem;
  padding: 1rem;
  color:#001514;
  font-size: 1rem;
  border: #001514 1px solid;
  background-color:#568EA3;
  border-radius: 8px;
  cursor: pointer;
}

.register-btn:hover{background-color:#001514; color: white;}


/* Larger view  styling*/
@media screen and (min-width: 650px) {
  html{
    background-image: url("../images/site/small_check.jpg"); 
  }

  body{
    display: block;
    border: #5e9cb3 solid  8px; 
    border-radius: 15px;
    margin: auto;
    max-width:45rem;
    padding: 20px;
  }

  div.group{
    top:8rem;
    gap: 20px;
    left:2.5rem;
    font-size: 1.3rem;
  }

  div.group h2{font-size:1.2rem;}

  .sort-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 2rem;
  }

  .square-grid img{
    width: 100%;
    height: 120px;
  }

  /* Classification Pages Stylying */
  ul#inv-display{ 
    grid-template-columns: 1fr 1fr;
  }
/*forms styling*/
  form.login, form.register{  
    padding-left: 2rem;
    padding-right: 2rem;
  }

}