<section class="forms">
    <% if (title) { %>
        <h1><%= title %></h1>
        <% } else {
          res.redirect('/')
    } %>

  <%- messages() %>
    <% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <%  }) %>
    </ul>
    <% } %>

    <form class="management-forms" action="/inv/add-classification" method="post">
        <label for="classification_name">Classification Name: </label>
        <span class="form-notes"><strong>Note:</strong> Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span> 
        <input type="text" name="classification_name" id="classification_name" required pattern="^[a-zA-Z]+$">
        <button class="management-btns" type="submit">Add Vehicle</button>
     </form>

</section>