<section>
<h1><% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<img src="../images/site/crash.jpg" alt="car crash" width="100%">

<p><%=  message %></p>

</section>

